/* :root {
    --primary-color: #354F52;
    --secondary-color: #CAD2C5;
    --accent1-color: #84A98C;
    --accent2-color: #52796F;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: var(--primary-color);
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: var(--secondary-color);
    margin-top: 15px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--accent1-color);
    line-height: 1.5;
    margin: 10px 0;
}

.sociallinks a {
    text-decoration: none;
}

.links a {
    color: black
}

.hero {
    position: relative;
}

.hero image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: var(--secondary-color);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 3rem
}

.hero article {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: var(--primary-color);
    width: 80%;
    background-color: rgba(0, 0, 0,);
}
    
.hero article img {
    width: 10%;
    height: auto;
} */

:root {
    --primary-color: #354F52;
    --secondary-color: #CAD2C5;
    --accent1-color: #84A98C;
    --accent2-color: #52796F;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--primary-color);
    max-width: 1200px;
    margin: auto;
}


h1,
h2 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: var(--secondary-color);
}

p {
    color: var(--accent1-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a img {
    border: none;
}

.header,
.hero,
.footer {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--secondary-color);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.hero .over {
    position: absolute;
    bottom: 1%;
    left: ;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.hero .over img {
    float: right;
    width: 300px;
    margin-left: 15px;
}

footer .sociallinks a img {
    border: none;
}

article.over {
    background-color: var(--accent2-color);
    opacity: 0.9;
    padding: 10px