:root {
    --dark-blue-color: darkblue;
    --one-rem-factor: 1rem;
}

nav {
    background-color: var(--dark-blue-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--dark-blue-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p { padding: 0;}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: var(--one-rem-factor);
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: var(--one-rem-factor);
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}